.App {
  text-align: center;
}

.contenant-vertical {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

#inputOeuvre {
  margin: 15px;
  margin-bottom: 100px;

}

#boutonPoubelle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#poub {
  max-width: 50px;
  padding: 20px;
}
.bouton-pour-changer {
  background-color: yellow;
  color: #282c34;
  border-radius: 20px;
  padding: 20px;
}
.contenant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tiny-titre {
  margin: 0px;
}

.titre {
  font-size:larger;
  font-family: "Arial Black";
}

.main-oeuvre {
  max-height: 350px;
  max-width: 350px;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.tiny-oeuvre {
  max-height: 150px;
  max-width: 150px;
  border-radius: 60px;
  padding: 10px;
  padding-bottom: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
